<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Contact with us at <a href="mailto:contact@contact.com">contact@contact.com</a></p>
</body>
</html>
